# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.envrc

# Node/Vite/React
node_modules/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Tailwind
*.css.map

# Misc
*.bak
*.tmp